.content {
      max-width: 600px;
      margin: auto;
      bgcolor: "#007B8B";
      font-family: Arial;
}

.container {
     width: auto;
     max-width: 540px;
     padding: 16px;
     clear: both;
}

.container input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.container input[type=submit] {
  background-color: #af504c;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
}

.container input[type=submit]:hover {
  opacity: 0.8;
}

h1,h4{
	text-align: center;
}


.title{
	background-color:#878787;
	color:white; 
	float: center;
	clear:none;
	width:92%;
    height:10%;
	padding: 20px;
	margin: auto;
}